/* colors ------------------------------------------ */
:root{
    --mainBgColor: #89B6A5;
    --mainWidgetColor: #C9EDDC;
    --secondWidgetColor:#2C0703;
    --buttonColor: #1a4ec6;
}

/* common ---------------------------------------------- */

html{
    height: 100vh; 
    font-family: "Armata", sans-serif;
}

body{
    height: 95%;
}

/* homepage -------------------------------------------- */

.homepage{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--mainBgColor);
}

.userInfo,
.expensesGraph,
.latestExpenses{
    border-radius: 15px ;
    background-color: var(--mainWidgetColor);
    /* transition: height 0.3s ease;  */
}

.userInfo{
    height: 70px;
    display: flex;
    align-items: center;
    margin: 25px 25px 0 25px;
    padding: 5px 10px;
    justify-content: space-between;
}

.content{
    display: flex;
    margin: 25px;
    gap: 25px;
    min-height: 75% ;
}

.expensesGraph{
    width: 100%;
    padding: 5px;
}

.latestExpenses{
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.expensesContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.showBtn{
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 2px solid black;
    padding: 8px 0 0 0;
}

.showExpenses{
    background-color: var(--buttonColor);
    border-radius: 5px;
    border: none;
    color: aliceblue;
    height: 25px;
    width: 70%;
    align-content: center;
    
}

.expensesHeader{
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 14pt;
    border-bottom: 2px black solid;
}

.listOfExpenses{
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
    gap: 5px;
    display:block;
}

.listOfExpenses li{
    background-color: var(--secondWidgetColor);
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px 0px;
    color: aliceblue;
    border-radius: 5px;
}

.amount{
    margin-left: 3px;
    font-weight: bold;

}

.trader{
    font-size: 9pt;
    font-weight: bold;
}

 .homepage div:hover{
    /* transform: scale(1.5);
    margin-right: 6%; /* fallback for ancient browsers that don't support calc() */
    /* margin-right: calc(5% + 1px);
    margin-left: 5%; */
}